.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.logo-img {
    width: 200px;
    height: 60px;
    margin-top: 2px;
}

.btn-premium {
    background-color: #00A2F7;
    width: 156px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

